.outer-body{
    display: flex;
    background-image: url(../../../assets/images/img_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}
.nav-bar{
    width: 12%;
    background-image: url(../../../assets/images/img_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
}
.dash-logo{
   margin-left: 10%;
   margin-top: 3.3rem;
}
.assign-board {
  height: 24px;
  width: 108px;
  color: #C1BEBE;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.62px;
  line-height: 24px;
}
.intern-management {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 24px;
    /* width: 173px; */
    color: #FFFFFF;
    font-family: "Mulish";
    font-size: 14.5px;
    font-weight: bold;
    letter-spacing: 0.56px;
    line-height: 24px;
  }
  .dashboard-div{
    background-color: #4b2b32;
    height: 45px;
    width: 100%;
    margin-top: 3rem;
    display: flex;
  }
  .rectangle-copy-8 {
    height: 45px;
    width: 5px;
    border-radius: 0 100px 100px 0;
    background-color: #F52851;
  }
  .dash-home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 78%;
  }
  .home-logo{
    height: 22px;
    width: 23px;
  }
  .dash-name{
    color: #FFFFFF;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.62px;
  line-height: 24px;
  }
  .cv-div{
    height: 45px;
    width: 100%;
    display: flex;
    margin-top: 1.8rem;
  }
  

.search-cv{
  display: flex;
  flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-left: 2px;
}
.logout-cv{
  display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-left: 2px;
    margin-top: 240px;
}
/* .dash-page{
    width: 60%;
    height: 100vh;
   border-radius: 40px;
   background-color: #F6F9FD;
    
  
    padding: 2% 3%;
} */
.dash-page-L{
  min-height: 100vh;
  height: 100%;
  background-color: #F6F9FD;
  border-radius: 40px;
  width: 70%;
}
.dash-page{
  width: 88%;
  min-height: 100vh;
  height: 100%;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #FFFFFF;
  display: flex;
}
.dash-header-L{
    padding: 4% 3%;
    display: flex;
    justify-content: space-between;
}

.dashboard-name-L {
    color: #333539;
    font-family: "Mulish";
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.22px;
    line-height: 26px;
  }

  .register-btn-L {
    height: 50px;
    width: 144px;
    border-radius: 15px;
    background-color: #F52851;
    display: flex;
    justify-content: space-between;
    padding: 3% 9%;
    align-items: center;
  }
  .reg-date-div{
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
  .register-btn-L span{
    color: #FFFFFF;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.54px;
    line-height: 24px;
  }

  .date {
    height: 50px;
    width: 180px;
    border-radius: 15px;
  background-color: #EBEFF4;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .date p{
    opacity: 0.67;
    color: #757994;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.54px;
    line-height: 24px;
  }
  .date span{
    color: #333539;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.54px;
    line-height: 24px;
  }
  .welcome{
    height: 250px;
    width: 90%;
    margin-left: 5%;
    /* opacity: 0.05; */
    border-radius: 26px;
    background-color: rgba(105,105,107,0.05); 
    display: flex;
    justify-content: space-between;
  }
  .welcome-back-renuka {
    color: #333539;
    font-family: "Mulish";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.43px;
    line-height: 20px;
    margin-top: 3.5rem;
    margin-left: 3rem;
  }
  .welcome-L{
    display: flex;
    flex-direction: column;
  }
  .you-have-36-new-cv-t {
    margin-top: 1rem;
    margin-left: 3rem;
    color: #808087;
    font-family: "Mulish";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.31px;
    line-height: 20px;
  }
  .you-have-36-new-cv-t span{
    color:black;
    font-family: "Mulish";
  }
  .check-btn {
    height: 40px;
    width: 144px;
    border-radius: 8px;
    background-color: #F52851;
    border: none;
    margin-left: 3rem;
    margin-top: 3rem;
  }
  .check-btn p{
    color: #FFFFFF;
    font-family:"Mulish";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
  }
  .card-img{
    margin-top: 4%;
    /* height: 212px;
    width: 313px; */
  }
  .cv-graph-div{
    margin-top: 3rem;
    margin-left: 3%;
   
  }
  .cv{
    margin-left: 5%;
    color: #333539;
    font-family: "Mulish";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.17px;
    line-height: 26px;
   
  }
  .graph-cv{
    margin-top: 1.2rem;
    box-sizing: border-box;
    margin-left: 5%;
    height: 302px;
    width: 90%;
    border: 1px solid #E6E5F2;
    border-radius: 26px;
    background-color: #FFFFFF;
  }
  .invite-div{
        margin-top: 2rem;
        margin-left: 5%;
        padding: 4% 4%;
        box-sizing: border-box;
        height: 142px;
        width: 90%;
        border: 1px solid #E6E5F2;
        border-radius: 26px;
        background-color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
  }
  .invite-candidate {
    color: #333539;
    font-family: "Mulish";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.43px;
    line-height: 20px;
  }
  .send-invite-by-email {
    height: 20px;
    width: 309px;
    margin-top: 17px;
    color: #808087;
    font-family: 'Mulish';
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.31px;
    line-height: 20px;
  }
  .invite-l{
    display: flex;
    flex-direction: column;
  }
  .invite-btn-L {
    height: 40px; 
    width: 121px;
    border-radius: 15px;
    background-color: #F52851;
    display: flex;
    justify-content: space-between;
    padding: 3% 18%;
    align-items: center;
  }
  .invite-btn-L span{
    color: #FFFFFF;
    font-family: "Mulish";
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.54px;
    line-height: 24px;
  }
  .icn-invite {
    height: 14px;
    width: 18px;
  }
  .dash-page-R{
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 0%;
    width: 35%;
    display: flex;
    flex-direction: column;
  }
  .profile-l{
    display: flex;
    flex-direction: column;
  }
  .profile-l p{
    margin-top: 3px;
    font-family: "Mulish";
    color: #F52851;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.15px;
  line-height: 26px;
  }
  .dash-header-R{
    /* margin-top: 40px; */
    margin-left: 32px;
    display: flex;
    justify-content: space-between;
  }
  .hello {
    margin-top: 3px;
    color: #333539;
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.17px;
    line-height: 26px;
  }
  .renuka-shetty {
    margin-top: 3px;
    color: #333539;
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.17px;
    line-height: 26px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left:14px;
    margin-bottom: 3px;
  }
  .profile-pic-div {
    height: 100px;
    width: 100px;
    background-color: #F52851;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 20px; */
  }
  .profile-pic-size {
    height: 100px;
    width: 100px;
    /* background-color: #F52851; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 20px; */
  }
  .summary-march {
    margin-left: 32px;
    margin-top: 1.8rem;
    color: #333539;
    font-family: "Mulish";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;
  }
  .summary-box{
    margin-top: 24px;
    margin-left: 32px;
    margin-right: 20px;
    /* height: 354px; */
    padding: 6% 12%;
    padding-right: 30%;
    border-radius: 26px;
    background-color: #F6F9FD;
  }
  .no{
    color: #333539;
    font-family: Muli;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 30px;
  }
  .applications {
    color: #808087;
    font-family: Muli;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.13px;
    line-height: 20px;
  }
  .sms-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .app-no{
    display: flex;
    flex-direction: column;
  }
  .sms-box-2{
    display: flex;
    justify-content: space-between;
    margin-top: 1.8rem;
    flex-wrap: wrap;
  }
  .viewall {
  height: 30px;
  width: 87px;
  border-radius: 9px;
  background-color: #EFF3FB;
  margin-top: -6px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
}
.notification {
  height: 16px;
  width: 112px;
  color: #333539;
  font-family: "Mulish";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
}
.notify-div{
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
}
.view-all {
  color: #4D4D4D;
  font-family: "Mulish";
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.06px;
  line-height: 16px;
  margin-top: 1px;
}
.icn-viewall {
  height: 11px;
  width: 7px;
  /* transform: scaleX(-1); */
  /* background-color: #4D4D4D; */
}
.notify-box {
  /* height: 123px; */
  /* width: 330px; */
  /* flex-wrap: wrap; */
  border-radius: 16px;
  background-color: #F6F9FD;
  border-left: 12px solid red;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-right: 5px;
  margin-top: 1rem;
  margin-left: 32px;
}
.campus-interview-at {
   /* height: 20px; */
    /* width: 254px; */
    display: flex;
    flex-wrap: wrap;
    color: #383D4A;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 20px;
}
.notify-time {
  /* height: 14px; */
  width: 141px;
  color: #4D4D4D;
  font-family: Muli;
  font-size: 12px;
  letter-spacing: 0.17px;
  line-height: 14px;
  /* margin-left: -112px; */
  margin-top: 4px;
}
.oval {
  box-sizing: border-box;
  /* height: 22px; */
  width: 22px;
  border: 0.8px solid #FFFFFF;
  margin-top: 5px;
  /* margin-left: -228px; */
}
.organise-box{
height: 101px;
/* width: 330px; */
border-radius: 16px;
background-color: #F6F9FD;
margin-top: 1rem;
margin-left: 32px;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.org-prof-name{
  display: flex;
  flex-direction: column;
}
.org-prof-img-size {
  height: 34px;
  width: 31px;
}
.raksha {
  height: 15px;
  width: 38px;
  color: #000000;
  font-family: Muli;
  font-size: 10.4px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 14.4px;
}
.interviews {
  height: 15px;
  width: 57px;
  color: #9897AD;
  font-family: Muli;
  font-size: 8.8px;
  font-weight: 600;
  letter-spacing: 0.09px;
  line-height: 14.4px;
  text-align: center;
  margin-left: -12px;
}



/* ----------------Dash Org----------------------- */


.head-org{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 40px;
}
.dash-name-org{
  width: 141px;
  color: #333539;
  font-family: Muli;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.22px;
  line-height: 26px;
}
.dash-header-R-org{
  margin-left: 32px;
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.dash-page-org{
  width: 88%;
  min-height: 100vh;
  height: 100%;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  background-color: #FFFFFF;
  /* display: flex; */
}


.main-white-body-org {
  box-sizing: border-box;
  height: 818px;
  margin-top: 40px;
  width: 100%;
  border: 1px solid #e6e5f2;
  border-radius: 26px;
  background-color: #ffffff;
  /* padding-left: 40px;
    padding-top: 38px;
    padding-right: 40px; */
  overflow-y: scroll;
}
.Head-col-body-org {
  height: 70px;
  width: 100%;
  /* background-color: #f6f9fd; */
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom:  1px solid #E6E5F2;
}
.row-col-body-org {
  height: 70px;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  /* border-bottom:  1px solid #E6E5F2; */
}

.Name-head-org {
  color: #808087;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.23px;
  line-height: 20px;
  width: 150px;
  margin-left: 70px;
}
.desig-head-org{
  /* height: 20px; */
  width: 230px;
  color: #808087;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.23px;
  line-height: 20px;
  /* margin-left: 160px; */
}
table:nth-child(odd){background-color: #f6f9fd;}
.row-data-org{
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.nithin-anand-org {
  height: 20px;
  width: 230px;
  color: #333539;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.23px;
  line-height: 20px;
  /* margin-left: 70px; */
}
.Name-row-org {
  color: #333539;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.23px;
  line-height: 20px;
  width: 150px;
  margin-left: 70px;
}


/* --------------------Dash Auth------------------------ */


