.success-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.success{
    color: #FFFFFF;
    font-family: "Mulish";
    font-size: 28px;
    font-weight: bold;
    margin-top: 2.75rem;
    margin-bottom: 1.5rem;
}
.your-account-passwor {
    /* height: 34px;
    width: 751px; */
    margin-top: 3rem;
    color: #FFFFFF;
    font-family: "Mulish";
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.23px;
    line-height: 34px;
    text-align: center;
  }
  .please-login-to-inte {
    /* height: 34px;
    width: 726px; */
    color: #808087;
    font-family: "Mulish";
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.21px;
    line-height: 34px;
    text-align: center;
  }

  .button-IM{
    margin-top: 1.8rem;
    height: 40px;
    width: 250px;
    border-radius: 8px;
    background-color: #F52851;
    /* color: #FFFFFF; */
  }
  .button-IM p{
    font-family: "Mulish";
    color: #FFFFFF;
    font-size: 20px;
    /* font-weight: bold; */
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
  }




  /* ----------InternManagement---------- */

  .internmanage-container{
    background-image: url(../../../assets/images/img_bg.png);
    padding: 0% 20%;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100vh;
   height: 100%;
  
}
.robosoft-intern-div{
    padding-top: 98px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.robosoft-intern-div p{
    padding-top: 1rem;
    font-family: 'Mulish', sans-serif;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bold;
}



