/* .ForgotPassword-forgotImage {
  display: flex;

  align-items: center;

  justify-content: center;
}

.ForgotPassword-forgotText {
  color: #ffffff;

  font-family: "Mulish";

  font-size: 28px;

  font-weight: bold;

  letter-spacing: 0.23px;

  line-height: 34px;

  text-align: center;

  padding-top: 1rem;
}

.ForgotPassword-forgotTextTwo {
  color: #ffffff;

  font-family: "Mulish";

  font-size: 28px;

  font-weight: bold;

  letter-spacing: 0.23px;

  line-height: 34px;

  text-align: center;
}
.ForgotPassword-forgotTextThree {
  color: #808087;

  font-family: "Mulish";

  font-size: 25px;

  font-weight: 500;

  letter-spacing: 0.21px;

  line-height: 34px;

  text-align: center;
}

.input-fp {
  width: 40%;

  padding: 0.75rem;

  border: 1px solid #c1bebe;

  background: transparent;

  background-color: rgba(255, 255, 255, 0.06);

  color: #f52851;

  border-radius: 6px;

  font-family: "mulish";

  font-size: 14px;

  letter-spacing: 0;

  line-height: 18px;

  outline: #c1bebe;
}

.button-IM-fp {
  padding: 0.65rem 5.5rem;
  border: none;
  border-radius: 8px;

  background-color: #f52851;
}
.button-IM p {
  font-family: "Mulish";

  color: #ffffff;

  font-size: 20px;

  letter-spacing: 0;

  line-height: 18px;

  text-align: center;
}
.ForgotPassword-forgotDiv {
  display: flex;

  align-items: center;

  justify-content: center;

  gap: 2rem;

  flex-direction: column;
} */


.ForgotPassword-internmanage-container {
  background-image: url(../../../assets//images/img_bg.png);
  padding: 0% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;

}

.ForgotPassword-robosoft-intern-div {
  padding-top: 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ForgotPassword-robosoft-intern-div p {
  padding-top: 1rem;
  font-family: 'Mulish', sans-serif;
  color: #FFFFFF;
  font-size: 60px;
  font-weight: bold;
}

.ForgotPassword-forgotImage {
  display: flex;

  align-items: center;

  justify-content: center;
}

.ForgotPassword-forgotText {
  color: #ffffff;

  font-family: "Mulish";

  font-size: 28px;

  font-weight: bold;

  letter-spacing: 0.23px;

  line-height: 34px;

  text-align: center;

  padding-top: 0.5rem;
}

.ForgotPassword-forgotTextTwo {
  color: #ffffff;

  font-family: "Mulish";

  font-size: 28px;

  font-weight: bold;

  letter-spacing: 0.23px;

  line-height: 34px;

  text-align: center;
}

.ForgotPassword-forgotTextThree {
  color: #808087;

  font-family: "Mulish";

  font-size: 25px;

  font-weight: 500;

  letter-spacing: 0.21px;

  line-height: 34px;

  text-align: center;
}

.ForgotPassword-input {
height: 40px;
width: 330px;

  padding: 0.75rem;

  border: 1px solid #c1bebe;

  background: transparent;

  background-color: rgba(255, 255, 255, 0.06);

  color: #f52851;

  border-radius: 6px;

  font-family: "mulish";

  font-size: 14px;

  letter-spacing: 0;

  line-height: 18px;

  outline: #c1bebe;
}

.button-IM-fp {
  padding: 0.65rem 5.5rem;
  border-radius: 8px;
  background-color: #f52851;
  outline: none;
  border: none;
  font-family: "Mulish";

  color: #ffffff;

  font-size: 20px;

  letter-spacing: 0;

  line-height: 18px;

  text-align: center;
}

.ForgotPassword-forgotDiv {
  display: flex;

  align-items: center;

  justify-content: center;

  gap: 2rem;

  flex-direction: column;
}

.ForgotPassword-formElement{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.SignIn-formError {
  color: #f52851;

  font-family: "Mulish";

  font-size: 12px;

  letter-spacing: 0;

  line-height: 15px;

  padding-top: 1px;
}